img
{
position: fixed;
left: 1%;
}

body
{
 margin: 0;
 padding: 0;
 background: white;
 overflow: hidden;
}

.container
{
  color: #412C52;	
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.button
{
  position: absolute;
  right: 6%;
  display: block;
  color: #412C52;
  text-decoration: none;
  text-align: center;
  width: 120px;
  padding: 10px;
  font-size: 12pt;
  font-family: poppins;
  font-weight: 400;
  border: 2px solid #412C52;
  cursor: pointer;
  border-radius: 30px;
  transition:1s;
}

.button:hover
{
  box-shadow: 0 1px 8px 0 #412C52 inset, 0 1px 8px 0 #412C52,
              0 1px 8px 0 #412C52 inset, 0 1px 8px 0 #412C52;
}
