img
{
position: fixed;
left: 1%;
}

body
{	
 color: #412C52;
 justify-content: center;
 margin-left: 20%;
 margin-right: 20%;
 margin-top: 2%;
 margin-bottom: 2%;
 padding: 0;
 background: white;
}

.button
{
  color: #412C52;
  position: relative;
  text-decoration: none;
  text-align: center;
  width: 250px;
  padding: 10px;
  font-size:12pt;
  font-weight: 400;
  border: 2px solid #412C52;
  cursor: pointer;
  border-radius: 30px;
  transition: 1s;
}

.button:hover
{
  box-shadow: 0 1px 8px 0 #412C52 inset, 0 1px 8px 0 #412C52,
              0 1px 8px 0 #412C52 inset, 0 1px 8px 0 #412C52;
}
